.row.proximos-viajes
    each trip in trips
        .col-md-6.col-lg-4.mb-4
            .card
                img(src=`img/destinos_${trip.img}.jpg`, class="img-fluid")
                .card-body
                    h2= trip.title
                    p
                        i.fas.fa-calendar-alt
                        |  #{trip.departure_date} - #{trip.return_date}
                    p
                        i.fas.fa-dollar-sign
                        |  #{trip.price} MXN
                    p= trip.description.substr(0, 100)
                    a(href=`trips/${trip.id}`, class="btn btn-success btn-block") Más Información